mixin link(title, url, icon, alt)
  li
    a.fb(href=url, target='_blank', title=title)
      img(src="gfx/link-icons/"+icon alt=alt)

mixin item(name, type, job, credits, cover, url, lazy)
  .project
    a(href=url, target='_blank')
      if lazy
        img.cover.lazy(src='gfx/cover-placeholder.jpg', data-src='gfx/gallery/'+cover, alt=name)
        noscript
          img.cover(src='gfx/gallery/'+cover, alt=name)
      else
        img.cover(src='gfx/gallery/'+cover, alt=name)
    .info
      p.name= name
      p.type= type
      hr
      p.job= job
      p.credits !{credits}

doctype html
html(lang='en')
  head
    // Programming by Ildar Sagdejev ( http://twitter.com/tknomad ) 
    meta(charset='UTF-8')
    title Ildar Sagdejev - Web ninja for hire
    link(rel='stylesheet', href='skin/skin.css')
  body
    img#avatar(src='gfx/qr-code.png', alt='QR Code')
    #menu
      #about
        | What I do
      a(href='#websites')
        | Websites
      a(href='#games')
        | Games
      a#hire(href='#contact')
        | Hire me!
    #header
      h1 Ildar Sagdejev
      h2 Web Ninja For Hire
    ul#links
      +link('Read my public diary', 'http://fb.me/tknomad', 'fb.png', 'Facebook')
      +link('Keep tabs on my progress', 'http://twitter.com/tknomad', 'twitter.png', 'Twitter')
      +link('Behold my contributions to mankind', 'http://commons.wikimedia.org/wiki/User:Specious', 'wikipedia.png', 'Wikimedia')
      +link('Entertain yourself with my open source code', 'http://github.com/specious', 'terminal.png', 'GitHub')
      +link('Enjoy my photography', 'http://www.flickr.com/photos/the-specious', 'camera.png', 'Flickr')
    #content
      #websites.page
        h1 Recent websites
        +item("Julemagne.com", "Website - Fine art", "Custom website", "Art and graphics by <a href='http://twitter.com/julemagne' target='_blank'>Julie David</a>", "websites/julemagne.png", "http://www.julemagne.com/")
        +item("Blue Stingray", "Website - Seafood restaurant", "Custom WordPress", "Delicious seafood by Vinh and Yen", "websites/blue-stingray.png", "http://www.bluestingrayseafood.com/menu/seafood/")
        +item("Professional Mortuary", "Website - Funeral service", "Custom website", "Embalming by <a href='http://www.promortuary.com/' target='_blank'> William Lum</a>", "websites/pms-nc.png", "http://www.promortuary.com/")
      #games.page
        h1 Sweepstakes games
        +item("Wheel Deal", "Game of chance", "Programming", "Graphics by Figure 8 Technologies", "games/wheel-deal.png", "gfx/gallery/games/wheel-deal.png", true)
        +item("Lucky's Loot", "Game of chance", "Programming", "Graphics by Figure 8 Technologies", "games/lucky-loot.png", "gfx/gallery/games/lucky-loot.png", true)
        +item('Crazy Eights', 'Game of chance', 'Programming', 'Graphics by Figure 8 Technologies', 'games/crazy-eights.png', 'gfx/gallery/games/crazy-eights.png', true)
        +item("Lucky Lager", "Game of chance", "Programming", "Graphics by Figure 8 Technologies", "games/lucky-lager.png", "gfx/gallery/games/lucky-lager.png", true)
        +item("Iceball Keno", "Game of chance", "Programming", "&nbsp;", "games/iceball-keno.png", "gfx/gallery/games/iceball-keno.png", true)
        +item("American Pride", "Game of chance", "Programming", "Graphics by Figure 8 Technologies", "games/pride.png", "gfx/gallery/games/pride.png", true)
        +item("Deuces Wild", "Game of chance", "Programming", "Graphics by Figure 8 Technologies", "games/deuces-wild.png", "gfx/gallery/games/deuces-wild.png", true)
      #contact.page
        h1 Hire me!
        form(action='contact.php', method='post')
          label
            | Your name
            input#name(type='text', name='name', required='')
          label
            | Your e-mail
            input(type='email', name='email', required='')
          .group
            label
              | Budget
              input(type='text', name='budget', placeholder='e.g., $3500')
            label
              | Start date
              select(name='start')
                option(value='1') Within 1 month
                option(value='1-2', selected='') 1 - 2 months
                option(value='2-3') 2 - 3 months
                option(value='3+') 3+ months
          div(style='clear: both')
          label
            | What can I help you with?
            textarea(name='message', required='')
          input#submit(type='submit', value='Submit')
        #success
          | Thanks for your message! I will get back to you soon.
    div
      #logos
        a(href='http://jquery.com/', target='_blank')
          img(src='gfx/logos/jquery.png', alt='jQuery')
        a(href='http://html5please.com/', target='_blank')
          img(src='gfx/logos/html5.png', alt='HTML5')
        a(href='http://css3please.com/', target='_blank')
          img(src='gfx/logos/css3.png', alt='CSS3')
      p#copyright
        | Designed and programmed by Ildar Sagdejev &copy; 2014
    noscript
      style.
        .lazy { visibility: hidden; height: 0; }
    script(src='js/lib/jquery.js')
    script(src='js/lib/zoomerang.js')
    script(src='js/infowin.js')
    script(src='js/contact.js')
    script.
      $(function() {
        function scrollTo( selector, time ) {
          $('html, body').animate( {
            scrollTop: $(selector).offset().top
          }, time || 1000 )
        }

        $('#about').click( function() {
          infoShow( 'about.html', '#about-content', 420 )
        } )
        $('#menu > a').click( function() {
          scrollTo( $(this).attr('href') )
          return false
        } )
        $('#hire').click( function() {
          $('#name').focus()
          return false
        } )

        contactFormEnable( $('#contact') )

        $('#links li').each( function() {
          var link = $(this).children('a')
          var caption = $(this).append('<span class="link-text">' + link.attr('title') + '</span>').children('span')[0]

          link.removeAttr('title').hover( function() {
            $(caption).stop( true ).css( 'opacity', '1' )
          }, function() {
            $(caption).fadeTo( 333, 0 )
          } )
        } )

        //
        // Due to an unfortunate bug in Android 2.2 - 2.3 stock browser,
        // the transform that Zoomerang performs does not render correctly.
        //
        // UC Browser does fine though!
        //
        // https://code.google.com/p/android/issues/detail?id=12451
        //
        if( /Android 2.[23]/.test( navigator.userAgent )
            && !/UCBrowser/.test( navigator.userAgent ) ) {
          $('#avatar').wrap('<a href="gfx/qr-code.png"/>')
        } else {
          Zoomerang.config( {
            bgColor: '#121212',
            bgOpacity: 0.6
          } ).listen('#avatar')
        }

        //
        // Lazy load images
        //
        $(window).load( function() {
          $(".cover").each( function() {
            var src = this.getAttribute( "data-src" )

            if( src ) {
              this.setAttribute( "src", src )
              this.removeAttribute( "data-src" )
            }
          } )
        } )
      })